# Generate Java / Eclipse generated stuff
*.swp
bin
bin_test
generated
target
RemoteSystemsTempFiles
*/build/
.recommenders/
.metadata
Servers/
.project
.classpath
sandbox
pom.xml.versionsBackup

# Keep the maven plugin settings to ignore missing m2e plugins
# !.metadata/.plugins/org.eclipse.m2e.core/lifecycle-mapping-metadata.xml


