<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<script type="text/javascript"
		src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/jsviews/0.9.75/jsviews.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.10/clipboard.min.js"></script>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
		integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
		crossorigin="anonymous">
	
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
		integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1"
		crossorigin="anonymous">
	
	<!-- Optional theme -->
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
		integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
		crossorigin="anonymous">
	
	<!-- Latest compiled and minified JavaScript -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
		integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
		crossorigin="anonymous"></script>
	
	<link rel="stylesheet" href="style.css" />
	<script id="servicesTemplate" type="text/x-jsrender">
	{^{for services}}
    <div class='row border'>
		<div class='col-xs-8'>
			<h3 style='margin: 0 0 10px 0;'>{{:name}}</h3>
		</div>
		<div class='col-xs-4'>
			<button type='button' class='btn btn-primary' onclick='openInstantiateModal("{{:image}}")'>Instaniate service</button>
		</div>
		<div class='col-xs-12'>Docker image: {{:image}}</div>
    {{for tags}}
    	{{if !tag.endsWith('-arm')}}
		<div class='row col-xs-12' style='margin: 0;'>
			<div class='col-xs-12' onclick="$(this).parent().children('.interfaces').toggle();" style='font-size: 1.2em; cursor: pointer; padding: 10px 0'>Tag: {{:tag}}</div>
			<div class='interfaces' style='display: none'>
			<div class='col-xs-12'><h4>Interfaces</h4></div>
			<div class='col-xs-4 bold'>Subscribe Hash</div>
			<div class='col-xs-4 bold'>Publish Hash</div>
			<div class='col-xs-2 bold'>Cardinality</div>
			<div class='col-xs-2 bold'>Autoconnect</div>
				{{for interfaces}}
					<div class='col-xs-12 bold' style='border-top: 1px solid grey'>{{:name}}</div>
					<div class='col-xs-4'>{{:subscribeName}}</div>
					<div class='col-xs-4'>{{:publishName}}</div>
					<div class='col-xs-2'>{{:cardinality}}</div>
					<div class='col-xs-2'>{{:autoConnect}}</div>
				{{/for}}
			<div class='col-xs-12' style='text-align: right;'>
				<button type='button' class='btn btn-danger' onclick='deleteService("{{:image}}", "{{:tag}}")'>Delete service</button>
			</div>
			</div>
		</div>
		{{/if}}
    {{/for}}
	</div>
	{{/for}}
	</script>
	<script id="protosTemplate" type="text/x-jsrender">
	{^{for protos}}
	<div class='row border'>
		<div class='col-xs-6'>Name: {{:name}}</div>
		<div class='col-xs-6'>Hash: {{:sha256}}</div>
		<div class='col-xs-12'><pre>{{:proto}}</pre></div>
		<div class='col-xs-6 delete-proto' data-id='{{:sha256}}'><span class='btn btn-danger'>Delete</span></div>
		<div class='col-xs-6'>
<button class="btn btn-primary copy" data-clipboard-text="http://efpi-rd1.sensorlab.tno.nl/protos/{{:sha256}}">
    Copy Proto link
</button>
		</div>
	</div>
	{{/for}}
	</script>
	<script id="hostsTemplate" type="text/x-jsrender">
<div class='row bold'>
	<div class='col-xs-2'>ID</div>
	<div class='col-xs-4'>Hostname</div>
	<div class='col-xs-1'>State</div>
	<div class='col-xs-1'>Type</div>
</div>
	{^{for hosts}}
	<div class='row' style='background: {{:color}}; color: white;'>
		<div class='col-xs-2'>{{:id}}</div>
		<div class='col-xs-4'>{{:hostname}}</div>
		<div class='col-xs-1'>{{:state}}</div>
		<div class='col-xs-1'>{{:labels.type}}</div>
		<div class='col-xs-3' data-id="{{:id}}">
		{{if state=="active"}}
			<a class='hostDeactivate' style='color: white'>Deactivate</a>
		{{else state=="inactive"}}
			<a class='hostActivate' style='color: white'>Activate</a> - <a class='hostRemove' style='color: white'>Remove</a>
		{{/if}}
		</div>
	</div>
	{{/for}}
	</script>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Distributed Service Framework</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">User: <span id='currentUser'>Admin</span> <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#" class='userSwitch' data-username='admin' data-password='password'>Admin</a></li>
							<li><a href="#" class='userSwitch' data-username='maarten' data-password='test'>Maarten</a></li>
						</ul></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>

	<div class="container">
		<div class="starter-template" style="padding-top: 0px;">
			<button type="button" class="btn btn-default pull-right" id="refresh" style="display: none;">Refresh</button>
			<div style="height: 500px;">
				<div id="graph" style="padding: 500px 0 0 0; position: absolute; left: 0;"></div>
			</div>
			<h3>Hosts</h3>
			<div id="hosts" class="grid"></div>
			<div class='row' style='padding: 10px;'>
				<div class='col-xs-6'><input type='button' class='btn btn-primary copy' data-clipboard-text="" id='newPublicHost' value='Copy public host command' /></div>
				<div class='col-xs-6'><input type='button' class='btn btn-primary copy' data-clipboard-text="" id='newPrivateHost' value='Copy private host command'/></div>
			</div>
			<h2>Services</h2>
			<div class="grid" id="services"></div>
			<hr class="clearfix" />
			<h1 class="clearfix">Protos</h1>
			<div class="grid" id="protos"></div>
		</div>
	</div>
	<div class="modal fade" id="startService" tabindex="-1" role="dialog"
		aria-labelledby="modalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Start service</h4>
				</div>
				<div class="modal-body">
					<form class="form grid">
						<div class="form-group">
							<label>Name <input type="text" class="form-control"
								id="name" placeholder="Container name"></label>
						</div>
						<div class="form-group">
							<label>Description <input type="text"
								class="form-control" id="description" placeholder="Description"></label>
						</div>
						<div class="form-group">
							<label>Host <select id="host">
									<option value="1h1">Host 1</option>
									<option value="1h2">Host 2</option>
							</select>
							</label>
						</div>
						<div class="form-group">
							<label>Tag <select id="tag"></select></label>
						</div>
						<div class="form-group">
							<label>Environment</label> <i id="envplus"
								class="fa fa-plus-circle pull-right"
								style="padding: 5px; cursor: pointer; margin: 5px;"></i> <i
								id="envminus" class="fa fa-minus-circle pull-right"
								style="padding: 5px; cursor: pointer; margin: 5px;"></i>
							<div id="pairs" class="clearfix"></div>
						</div>
						<script>
							$("#envminus").click(function() {
								$("#pairs > div:last-child").remove();
							})
							$("#envplus")
									.click(
											function() {
												$("#pairs")
														.append(
																"<div class='row envpair' style='padding: 0 15px'><input type='text' class='form-control col-xs-6 key' placeholder='key' style='width: 50%'><input type='text' class='form-control col-xs-6 value' placeholder='value' style='width: 50%'></div>");
											});
						</script>
						<input type="hidden" id="image">
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" id="createContainer">Create
						instance</button>
				</div>
			</div>
		</div>
	</div>
	<div class="alerts"></div>
	<script type="text/javascript" src="api.js"></script>
	<script type="text/javascript" src="model.js"></script>
	<script type="text/javascript" src="dagre.min.js"></script>
	<script type="text/javascript" src="jsPlumb.js"></script>
	<script type="text/javascript" src="jsPlumbHandlers.js"></script>
	<script type="text/javascript" src="script.js"></script>
</body>
</html>
